<header class="nav justify-content-center">
	<li class="nav-item">
		<a class="nav-link" href="index.php?page=admin&action=display">Administration</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-right" href="index.php?page=map&action=display">Carte</a>
	</li>
    <li class="nav-item">
        <a class="nav-link text-right" href="index.php?page=connexion&action=deconnexion">Deconnexion</a>
    </li>
</header>
<div class="content-wrapper align-items-center">
	<form action="index.php?page=admin&action={action}" method="post" class="form-inline" id="address_form">
		<div class="form-group">
		    <input type="text" class="form-control" id="locationid" name="locationid" value="{locationid}" hidden="">
		</div>
		<div class="form-group">
		    <label for="postcode">Code postal</label>
		    <input type="text" class="form-control" id="postcode" name="postcode" value="{postcode}" required="">
		</div>
	  	<div class="form-group">
	    	<label for="city">Ville</label>
	    	<input type="text" class="form-control" id="city" name="city" value="{city}">
	  	</div>
	  	<div class="form-group">
	    	<label for="country">Pays</label>
	    	<input type="text" class="form-control" id="country" name="country" value="{country}" required="">
	  	</div>
	  	<button type="submit" class="btn btn-secondary">Valider</button>
	</form>
</div>
