<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
            <a class="nav-a" href="index.php?page=admin&action=display">
              <img src="View/img/logo-marqueur.png" class="d-inline-block align-middle" alt="">
              Administration
            </a>

                <ul class="nav">
                    <li class="nav-item nav-li">
                        <a class="nav-a" href="index.php">Carte</a>
                    </li>
                    <li class="nav-item nav-li">
                        <a class="nav-a" href="index.php?page=connexion&action=deconnexion">Deconnexion</a>
                    </li>
                </ul>

        </div>
    </nav>
</header>

<div class="container">


<form action="index.php?page=admin&action={action}" method="post" class="form-admin" id="address_form">
		<div class="form-group">
		    <input type="text" class="" id="locationid" name="locationid" value="{locationid}" hidden="">
		</div>
		<div class="form-group row">
            <label for="" class="col-2 col-form-label label-admin">Adresse :</label>
		    <div class="col-10">
                <input type="text" class="form-control" id="user_input_autocomplete_address" name="">
            </div>
		</div>

        <div class="form-inline justify-content-center">
            <div class="form-group">
                <label for="postcode" class="sr-only">Code postal</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="postal_code" name="postcode" value="{postcode}" placeholder="Code postal" required>
            </div>
            <div class="form-group">
                <label for="city" class="sr-only">Ville</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="locality" name="city" value="{city}" placeholder="Ville">
            </div>
            <div class="form-group">
                <label for="country" class="sr-only">Pays</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="country" name="country" value="{country}" placeholder="Pays" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Valider</button>

            </div>
        </div>


	</form>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxTKi67B3W71rjv7z6LOxxtkA068HgRvA&libraries=places"></script>
<script type="text/javascript" src="View/js/autocomplete.js"></script>
