<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
            <a class="nav-a" href="{{ path('admin') }}">
                <img src="{{ asset('img/logo-marqueur.png') }}" class="d-inline-block align-middle" alt="Logo CEFii">Administration
            </a>

            <ul class="nav">
                <li class="nav-item nav-li"><a class="nav-a" href="{{ path('home') }}">Carte</li>
                <li class="nav-item nav-li"><a class="nav-a" href="">Deconnexion</a></li>
            </ul>
        </div>
    </nav>
</header>
